@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {

  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #0a0a0a;
  color: #f3f4f6;
  line-height: 1.5rem;
}

/* body {
  @apply bg-gray-100 antialiased
} */


@layer utilities {

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%)
    }

    100% {
      transform: translateX(250%)
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}